---
import CartCheckout from '@cart/components/CartCheckout.astro';
import CartProducts from '@cart/components/CartProducts.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Cart'>
  <section class='h-screen p-10 gap-10 flex justify-center items-center'>
    <CartProducts />
    <CartCheckout />
  </section>
</Layout>
