<aside
  class='bg-gradient-to-b from-zinc-50 via-zinc-50/90 to-zinc-50/50 h-full font-primary flex-grow border-2 border-stone-800'
>
  <h3 class='uppercase font-bold p-4 border-b border-stone-800'>Checkout</h3>
  <article class='p-4 tracking-wide flex flex-col gap-4'>
    <h4 class='flex justify-between font-medium text-[18px]'>
      <span class='text-stone-500'>Subtotal</span>
      <span>10 $</span>
    </h4>
    <h4 class='flex justify-between font-medium text-[18px]'>
      <span class='text-stone-500'>Shipping</span>
      <span>7 $</span>
    </h4>
    <h4 class='flex justify-between font-medium text-[18px]'>
      <span class='font-semibold'>Total</span>
      <span>17 $</span>
    </h4>
  </article>
</aside>
