---
import { Image } from 'astro:assets';
import QuantityButton from './QuantityButton.astro';
import Price from '@components/UI/Price.astro';
import DeleteButton from './DeleteButton.astro';

const { name, imageFront, price } = Astro.props;
---

<article class='border border-stone-800 px-2 bg-zinc-50 grid grid-cols-5'>
  <picture class='flex justify-center items-center'>
    <Image
      src={imageFront}
      alt=`Image of ${name}`
      class='size-[7.2em]'
    />
  </picture>
  <div>
    <h3>{name}</h3>
  </div>
  <div>
    <QuantityButton />
  </div>
  <div>
    <Price>
      {price}
    </Price>
  </div>
  <div>
    <DeleteButton />
  </div>
</article>
<style>
  div {
    @apply flex items-center justify-center;
  }
</style>
