---
import CartCheckout from './CartCheckout';
import CartProducts from './CartProducts';
---

<main class='h-screen p-10 gap-10 flex justify-center items-center'>
  <CartProducts client:load />
  <CartCheckout client:load />
</main>
