---
import LessIcon from '../icons/less-icon.astro';
import MoreIcon from '../icons/more-icon.astro';
---

<div class='flex items-center justify-center gap-4'>
  <button>
    <LessIcon />
  </button>
  <span class='font-semibold text-[18px]'>1</span>
  <button>
    <MoreIcon />
  </button>
</div>
<style>
  button {
    @apply bg-yellow-200 p-1  border border-stone-800 rounded-full flex items-center justify-center;
  }
</style>
