---

---

<section class='h-screen flex justify-center items-center'>
  <h1 class='flex justify-center relative'>
    <span class='font-primary text-[10rem]'>The Wild</span>
    <span class='font-logo text-[8rem] absolute -bottom-20'>Jackets</span>
  </h1>
</section>
