---
import Products from '@components/products/components/Products.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@components/hero/components/Hero.astro';

---

<Layout title='Welcome to Astro.'>
  <main>
    <Hero />
    <Products />
  </main>
</Layout>
