---
import Background from '@components/UI/Background.astro';
import { Image } from 'astro:assets';

const { name, imageFront, imageBack } = Astro.props;
---

<section class='h-screen w-full flex justify-center items-center'>
  <article
    class='flex flex-col relative h-[80%] w-[60%] z-10 border-2 border-stone-800 bg-zinc-100'
  >
    <header class='w-full flex flex-col bg-violet-400 flex-grow'>
      <div class='w-full flex flex-grow'>
        <span class='w-[20%] bg-lime-300'>LOGO</span>
        <table class='bg-green-300 flex-grow'>
          <tr>
            <th>name</th>
            <td>hsh</td>
          </tr>
          <tr>
            <th>name</th>
            <td>hsh</td>
          </tr>
        </table>
      </div>
      <p class='bg-slate-300 text-center p-1 text-sm'>Front & Back</p>
    </header>
    <picture
      class='relative h-[70%] flex justify-center overflow-hidden m-3 border-2 border-stone-800 bg-gradient-to-b from-zinc-100/90 via-zinc-100/80 to-zinc-100/40'
    >
      <Background />
      <Image
        src={imageFront}
        alt=''
        class='h-full w-auto -translate-y-7'
      />
      <Image
        src={imageBack}
        alt=''
        class='h-full w-auto translate-y-7'
      />
    </picture>
    <footer class='bg-amber-400 p-2'>footer info</footer>
  </article>
</section>
