---
import { PRODUCTS } from '../data/products-data';
import SingleProduct from './SingleProduct.astro';
---

<section
  id='products'
  class='min-h-screen flex flex-col items-start gap-10 px-20 pb-10'
>
  <h2
    class='font-primary font-medium text-[24px] px-2 backdrop-blur-[1px] bg-gradient-to-r from-yellow-100/70 to-green-100/70 shadow-custom'
  >
    Madness Collection
  </h2>
  <div
    class='w-full grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-10'
  >
    {PRODUCTS.map((product) => <SingleProduct {...product} />)}
  </div>
</section>
