---
import CartIcon from '../icons/cart-icon.astro';
import CartValue from './CartValue';
---

<header
  class='z-30 w-full h-10 bg-zinc-100 shadow-header flex justify-between py-px px-10 fixed font-primary'
>
  <strong class='self-center'>Logo</strong>
  <nav>
    <a
      href='/cart'
      class='flex h-full gap-1'
    >
      <CartIcon />
      <CartValue client:load />
    </a>
  </nav>
</header>
