---
import Background from '@components/UI/Background.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Background />
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Panchang-Variable';
    src: url('/fonts/Panchang-Variable.woff2') format('woff2');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'FankyBubbleGraffiti-Regular';
    src: url('/fonts/FankyBubbleGraffiti-Regular.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d8 transparent;
  }

  body {
    position: relative;
  }
</style>
